.m-article
  display: flex
  flex-direction: column
  width: 200px

  margin: 0 auto
    bottom: 20px

  background: $White
  border-radius: 5px
  cursor: pointer

  @media screen and (min-width: 680px)
    margin: 0
      bottom: 40px
      right: 40px